<div *ngIf="isNotEmpty(noticias)">

  <h2 *ngIf="ligaGuardadaEnSesion.ligaVisible === 1"> Noticias - MNBA </h2>
  <h2 *ngIf="ligaGuardadaEnSesion.ligaVisible === 2"> Noticias - DLEAGUE </h2>
  <div (swipeleft)="cambiarPagina(1)" (swiperight)="cambiarPagina(-1)">
    <div *ngFor="let fecha of fechas">
      <h2 mat-headline>{{ fecha | date: 'dd-MM-yyyy' }}</h2>
      <hr />
      <div *ngFor="let noticia of noticias[fecha]">
        <div mat-body-2>{{ noticia.hora }}. <span [innerHTML]="noticia.texto"></span></div>
        <hr />
      </div>
    </div>
  </div>

  <div class="back-to-top">
    <button mat-icon-button (click)="scrollToTop()" title="Volver arriba" class="btn-themecolor">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
  </div>
</div>