<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-profile">
          <a
            class="has-arrow waves-effect waves-dark"
            href="#"
            aria-expanded="false"
          >
            <img src="./assets/images/users/profile.png" alt="user" />
            <span class="hide-menu">
              {{this.credenciales?.manager | titlecase }}
            </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a routerLink="/miequipo/equipo-detalle">Mi equipo</a>
            </li>
            <li>
              <a routerLink="/miequipo/ofertas-enviadas">Ofertas enviadas</a>
            </li>
            <li>
              <a routerLink="/miequipo/ofertas_recibidas">Ofertas recibidas</a>
            </li>
            <li>
              <a routerLink="/miequipo/pujas_activas">Pujas activas</a>
            </li>
            <li>
              <a routerLink="/miequipo/waivers">Waivers</a>
            </li>
            <li>
              <a routerLink="/miequipo/lesionados">Lesionados</a>
            </li>
            <li>
              <a routerLink="/miequipo/apuestas">Apuestas</a>
            </li>
            <li>
              <a routerLink="/dashboard/account-settings">Configuración App</a>
            </li>
            <li>
              <a class="navi-link" (click)="logout()">
                {{ 'logout' | translate | titlecase }}
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-devider"></li>
        <li class="nav-small-cap">PANEL DE CONTROL</li>

        <li *ngFor="let item of menuItems">
          <a
            class="has-arrow waves-effect waves-dark"
            href="#"
            aria-expanded="false"
          >
            <i class="{{ item.icono }}"></i>
            <span class="hide-menu">
              {{ item.titulo }}
              <span class="label label-rouded label-themecolor pull-right">
                {{ item.submenu.length }}
              </span>
            </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li *ngFor="let subMenuItem of item.submenu">
              <a [routerLink]="subMenuItem.url">
                {{ subMenuItem.titulo }}
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-devider"></li>
        <!-- <li class="nav-small-cap">COMISIONADO</li> -->
        <li>
          <a
            class="has-arrow waves-effect waves-dark"
            href="#"
            aria-expanded="false"
          >
            <i class="mdi mdi-file"></i>
            <span class="hide-menu">
              Comisionado
              <!-- <span class="label label-rouded label-themecolor pull-right">2</span> -->
            </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="index.html">Liga</a></li>
            <li><a href="index2.html">Equipos</a></li>
            <li><a href="index3.html">Jugadores</a></li>
            <li><a href="index4.html">Entrenadores</a></li>
            <li><a href="index5.html">Draft</a></li>
            <li><a href="index6.html">Trades</a></li>
            <li><a href="index7.html">Subastas</a></li>
            <li><a href="index8.html">Waivers</a></li>
            <li><a href="index9.html">Sanciones</a></li>
            <li><a href="index10.html">Bonus</a></li>
            <li><a href="index11.html">Noticias</a></li>
            <li><a href="index12.html">Matchup</a></li>
          </ul>
        </li>

        <li class="nav-devider"></li>
        <!-- <li class="nav-small-cap">ADMINISTRADOR</li> -->
        <li>
          <a
            class="has-arrow waves-effect waves-dark"
            href="#"
            aria-expanded="false"
          >
            <i class="mdi mdi-arrange-send-backward"></i>
            <span class="hide-menu">
              Administrador
              <!-- <span class="label label-rouded label-themecolor pull-right">2</span> -->
            </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="index.html">Managers</a></li>
            <li><a href="index2.html">Equipos</a></li>
            <li><a href="index3.html">Parametros Liga</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
