<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-profile" [hidden]="!ligaGuardadaEnSesion.ligaPropia">
          <a
            class="has-arrow waves-effect waves-dark"
            href="#"
            aria-expanded="false"
          >
            <img src="./assets/images/users/profile.png" alt="user" />
            <span class="hide-menu">
              {{this.credencialesEnSesion?.manager | titlecase }}
            </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a routerLink="/mi-equipo/equipo-detalle" (click)="verMiEquipo()">Mi equipo</a>
            </li>
            <li>
              <a routerLink="/mi-equipo/ofertas-enviadas" (click)="onSidebarLinkClick()">Ofertas enviadas</a>
            </li>
            <li>
              <a routerLink="/mi-equipo/ofertas-recibidas" (click)="onSidebarLinkClick()">Ofertas recibidas</a>
            </li>
            <li>
              <a routerLink="/mi-equipo/pujas-activas" (click)="onSidebarLinkClick()">Pujas activas</a>
            </li>
            <li>
              <a routerLink="/mi-equipo/waivers" (click)="onSidebarLinkClick()">Waivers</a>
            </li>
            <li>
              <a routerLink="/mi-equipo/lesionados" (click)="onSidebarLinkClick()">Lesionados</a>
            </li>
            <li>
              <a routerLink="/mi-equipo/apuestas" (click)="onSidebarLinkClick()">Apuestas</a>
            </li>
            <li>
              <a routerLink="/dashboard/account-settings" (click)="onSidebarLinkClick()">Configuración App</a>
            </li>
            <li>
              <a class="navi-link" (click)="logout()">
                {{ 'logout' | translate | titlecase }}
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-devider" *ngIf="ligaGuardadaEnSesion.ligaPropia"></li>
        <li class="nav-small-cap">PANEL DE CONTROL</li>

        <li *ngFor="let item of menuItems">
          <a
            class="has-arrow waves-effect waves-dark"
            href="#"
            aria-expanded="false"
          >
            <i class="{{ item.icono }}"></i>
            <span class="hide-menu">
              {{ item.titulo }}
              <span class="label label-rouded label-themecolor pull-right">
                {{ item.submenu.length }}
              </span>
            </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li *ngFor="let subMenuItem of item.submenu">
              <a (click)="subMenuItem.titulo === 'Cambiar de liga' ? cambiarDeLiga() : onSidebarLinkClick()"
                 [routerLink]="subMenuItem.url">
                {{ subMenuItem.titulo }}
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-devider"></li>
        <!-- <li class="nav-small-cap">COMISIONADO</li> -->
        <li>
          <a
            class="has-arrow waves-effect waves-dark"
            href="#"
            aria-expanded="false"
          >
            <i class="mdi mdi-file"></i>
            <span class="hide-menu">
              Comisionado
              <!-- <span class="label label-rouded label-themecolor pull-right">2</span> -->
            </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a routerLink="/comisionado/liga" (click)="onSidebarLinkClick()">Liga</a>
            </li>
            <li>
              <a routerLink="/comisionado/equipos" (click)="onSidebarLinkClick()">Equipos</a>
            </li>
            <li>
              <a routerLink="/comisionado/jugadores" (click)="onSidebarLinkClick()">Jugadores</a>
            </li>
            <li>
              <a routerLink="/comisionado/entrenadores" (click)="onSidebarLinkClick()">Entrenadores</a>
            </li>
            <li>
              <a routerLink="/comisionado/draft" (click)="onSidebarLinkClick()">Draft</a>
            </li>
            <li>
              <a routerLink="/comisionado/trades" (click)="onSidebarLinkClick()">Trades</a>
            </li>
            <li>
              <a routerLink="/comisionado/subastas" (click)="onSidebarLinkClick()">Subastas</a>
            </li>
            <li>
              <a routerLink="/comisionado/waivers" (click)="onSidebarLinkClick()">Waivers</a>
            </li>
            <li>
              <a routerLink="/comisionado/sanciones" (click)="onSidebarLinkClick()">Sanciones</a>
            </li>
            <li>
              <a routerLink="/comisionado/bonus" (click)="onSidebarLinkClick()">Bonus</a>
            </li>
            <li>
              <a routerLink="/comisionado/noticias" (click)="onSidebarLinkClick()">Noticias</a>
            </li>
            <li>
              <a routerLink="/comisionado/matchup" (click)="onSidebarLinkClick()">Matchup</a>
            </li>
          </ul>
        </li>

        <li class="nav-devider"></li>
        <!-- <li class="nav-small-cap">ADMINISTRADOR</li> -->
        <li>
          <a
            class="has-arrow waves-effect waves-dark"
            href="#"
            aria-expanded="false"
          >
            <i class="mdi mdi-arrange-send-backward"></i>
            <span class="hide-menu">
              Administrador
              <!-- <span class="label label-rouded label-themecolor pull-right">2</span> -->
            </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a routerLink="/administrador/managers" (click)="onSidebarLinkClick()">Managers</a>
            </li>
            <li>
              <a routerLink="/administrador/equipos" (click)="onSidebarLinkClick()">Equipos</a>
            </li>
            <li>
              <a routerLink="/administrador/parametros-liga" (click)="onSidebarLinkClick()">Parametros Liga</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
