<div *ngIf="dataLoaded" class="container animated fadeIn">
  <h2> {{ man?.equipo?.nombre }} </h2>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <ul class="list-group list-group-flush">
          <li>Manager: {{man.nombre}}</li>
          <li>Orden waiver: {{man.equipo?.waiver}}</li>
          <li>Cap Libre: {{man.equipo?.capLibre}}</li>
          <li>Num. jugadores: {{ man.equipo?.jugadoresConContrato.length }}</li>
          <li *ngIf="temporadaEnSesion.estado==='SEASON'">Adds disponibles: {{ man.equipo?.numMovesDisponibles }}</li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12">
        <ul class="list-group list-group-flush" *ngFor="let titulo of man.equipo?.palmares">
          <li>{{ titulo.logro }} ({{titulo.temporada.nombre }})</li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12">
        <ul class="list-group list-group-flush" *ngFor="let record of man.equipo?.records">
          <li>{{ record.categoria.nombre }}: {{record.temporada.nombre }} ({{record.valor }})</li>
        </ul>
      </div>
    </div>
  </div>

  <hr>

  <h4>Roster</h4>
  <div class="responsive-table">
    <table class="table table-striped table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="fixed-column">Nombre</th>
          <th scope="col">Equipo</th>
          <th scope="col">Posición</th>
          <th scope="col">{{ listaTemporadas[0]?.nombre }}</th>
          <th scope="col">{{ listaTemporadas[1]?.nombre }}</th>
          <th scope="col">{{ listaTemporadas[2]?.nombre }}</th>
          <th scope="col">{{ listaTemporadas[3]?.nombre }}</th>
          <ng-container *ngIf="equipoPropio">
            <th scope="col" *ngIf="temporadaEnSesion.estado==='SEASON'">IL</th>
            <th scope="col">Trading Block</th>
            <th scope="col" *ngIf="temporadaEnSesion.estado==='SEASON'">COVID</th>
            <th scope="col">Drop</th>
          </ng-container>
          <th scope="col" *ngIf="(ligaPropia && !equipoPropio)">TRADE</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-default" *ngFor="let player of man.equipo?.jugadoresConContrato; let a = index">
          <td>{{a+1}}</td>

          <td class="d-none d-md-table-cell">{{ player.jugador.nombre }} {{player.jugador.apellido }}</td>
          <td class="d-md-none fixed-column">{{ player.jugador.nombreAbreviado }}</td>


          <td>{{ player.jugador.fkEquipoNba | equiponba }}</td>

          <td>{{ player.jugador.posiciones | concatPositions }}</td>

          <td>{{ player.contrato.salario }}</td>

          <td>{{ ((player.contrato.temporadaFin.pkTemporada === listaTemporadas[1].pkTemporada) || (player.contrato.temporadaFin.pkTemporada === listaTemporadas[2].pkTemporada) || (player.contrato.temporadaFin.pkTemporada === listaTemporadas[3].pkTemporada)) ? player.contrato.salario : '' }}</td>
          <td>{{ ((player.contrato.temporadaFin.pkTemporada === listaTemporadas[2].pkTemporada) || (player.contrato.temporadaFin.pkTemporada === listaTemporadas[3].pkTemporada)) ? player.contrato.salario : '' }}</td>
          <td>{{ ((player.contrato.temporadaFin.pkTemporada === listaTemporadas[3].pkTemporada)) ? player.contrato.salario : '' }}</td>

          <ng-container *ngIf="equipoPropio">
            <td class="link-style" *ngIf="temporadaEnSesion.estado==='SEASON'" (click)="navegarILPagina(player.pkJugadorliga, 0)">activar</td>

            <ng-container [ngSwitch]="player.enTradingBlock">
              <td class="link-style" *ngSwitchCase="true">Si (quitar)</td>
              <td class="link-style" *ngSwitchCase="false">No (añadir)</td>
            </ng-container>

            <td class="link-style" *ngIf="temporadaEnSesion.estado==='SEASON'">COVID</td>

            <td class="link-style" *ngIf="man.equipo.corteGratisHabilitado == 1">gratis</td>
            <td class="link-style" *ngIf="player.contrato.salario < 2">gratis</td>
            <td class="link-style" *ngIf="player.contrato.salario >= 2">{{ player.contrato.salario / 2 | number:'1.0-1' }}</td>
          </ng-container>

          <td *ngIf="(ligaPropia && !equipoPropio)">proponer</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4 *ngIf="man.equipo?.jugadoresIL">Lesionados</h4>
  <div class="responsive-table">
    <table *ngIf="man.equipo?.jugadoresIL" class="table table-striped table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="fixed-column">Nombre</th>
          <th scope="col">Equipo</th>
          <th scope="col">Posición</th>
          <th scope="col">{{ listaTemporadas[0]?.nombre }}</th>
          <th scope="col">{{ listaTemporadas[1]?.nombre }}</th>
          <th scope="col">{{ listaTemporadas[2]?.nombre }}</th>
          <th scope="col">{{ listaTemporadas[3]?.nombre }}</th>
          <th scope="col" *ngIf="equipoPropio">RECUPERAR</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active" *ngFor="let player of man.equipo?.jugadoresIL; let b = index">
          <td>{{b+1}}</td>

          <td class="d-none d-md-table-cell">{{ player.jugador.nombre }} {{player.jugador.apellido }}</td>
          <td class="d-md-none fixed-column-les">{{ player.jugador.nombreAbreviado }}</td>

          <td>{{ player.jugador.fkEquipoNba | equiponba }}</td>

          <td>{{ player.jugador.posiciones | concatPositions }}</td>

          <td>{{ player.contrato.salario }}</td>

          <td>{{ ((player.contrato.temporadaFin.pkTemporada === listaTemporadas[1].pkTemporada) || (player.contrato.temporadaFin.pkTemporada === listaTemporadas[2].pkTemporada) || (player.contrato.temporadaFin.pkTemporada === listaTemporadas[3].pkTemporada)) ? player.contrato.salario : '' }}</td>
          <td>{{ ((player.contrato.temporadaFin.pkTemporada === listaTemporadas[2].pkTemporada) || (player.contrato.temporadaFin.pkTemporada === listaTemporadas[3].pkTemporada)) ? player.contrato.salario : '' }}</td>
          <td>{{ ((player.contrato.temporadaFin.pkTemporada === listaTemporadas[3].pkTemporada)) ? player.contrato.salario : '' }}</td>

          <td class="link-style" *ngIf="equipoPropio" (click)="navegarILPagina(player.pkJugadorliga, 1)">Recuperar</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4 *ngIf="man.equipo?.jugadoresCovid">COVID</h4>
  <div class="responsive-table">
    <table *ngIf="man.equipo?.jugadoresCovid" class="table table-striped table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="fixed-column">Nombre</th>
          <th scope="col">Equipo</th>
          <th scope="col">Posición</th>
          <th scope="col">{{ listaTemporadas[0]?.nombre }}</th>
          <th scope="col">{{ listaTemporadas[1]?.nombre }}</th>
          <th scope="col">{{ listaTemporadas[2]?.nombre }}</th>
          <th scope="col">{{ listaTemporadas[3]?.nombre }}</th>
          <th scope="col">RECUPERAR</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active" *ngFor="let player of man.equipo?.jugadoresCovid; let c = index">
          <td>{{c+1}}</td>

          <td class="d-none d-md-table-cell">{{ player.jugador.nombre }} {{player.jugador.apellido }}</td>
          <td class="d-md-none fixed-column-cov">{{ player.jugador.nombreAbreviado }}</td>

          <td>{{ player.jugador.fkEquipoNba | equiponba }}</td>

          <td>{{ player.jugador.posiciones | concatPositions }}</td>

          <td>{{ player.contrato.salario }}</td>

          <td>{{ ((player.contrato.temporadaFin.pkTemporada === listaTemporadas[1].pkTemporada) || (player.contrato.temporadaFin.pkTemporada === listaTemporadas[2].pkTemporada) || (player.contrato.temporadaFin.pkTemporada === listaTemporadas[3].pkTemporada)) ? player.contrato.salario : '' }}</td>
          <td>{{ ((player.contrato.temporadaFin.pkTemporada === listaTemporadas[2].pkTemporada) || (player.contrato.temporadaFin.pkTemporada === listaTemporadas[3].pkTemporada)) ? player.contrato.salario : '' }}</td>
          <td>{{ ((player.contrato.temporadaFin.pkTemporada === listaTemporadas[3].pkTemporada)) ? player.contrato.salario : '' }}</td>

          <td>Recuperar</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4 *ngIf="man.equipo?.jugadoresConDerecho">Derechos</h4>
  <div class="responsive-table">
    <table *ngIf="man.equipo?.jugadoresConDerecho" class="table table-striped table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="fixed-column">Nombre</th>
          <th scope="col">Equipo</th>
          <th scope="col">Posición</th>
          <th scope="col">{{ listaTemporadas[0]?.nombre }}</th>
          <th scope="col">{{ listaTemporadas[1]?.nombre }}</th>
          <th scope="col">Trading Block</th>
          <th scope="col">Derecho</th>
          <th scope="col" *ngIf="(ligaPropia && !equipoPropio)">TRADE</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-info" *ngFor="let player of man.equipo?.jugadoresConDerecho; let d = index">
          <td>{{d+1}}</td>

          <td class="d-none d-md-table-cell">{{ player.jugador.nombre }} {{player.jugador.apellido }}</td>
          <td class="d-md-none fixed-column-der">{{ player.jugador.nombreAbreviado }}</td>

          <td>{{ player.jugador.fkEquipoNba | equiponba }}</td>

          <td>{{ player.jugador.posiciones | concatPositions }}</td>

          <td>{{ player.derecho.salario }}</td>

          <td>{{ ((player.derecho.temporadaFin.pkTemporada === listaTemporadas[1].pkTemporada)) ? player.derecho.salario : '' }}</td>

          <ng-container [ngSwitch]="player.enTradingBlock">
            <td *ngSwitchCase="true">Si (quitar)</td>
            <td *ngSwitchCase="false">No (añadir)</td>
          </ng-container>

          <td>ejercer</td>

          <td *ngIf="(ligaPropia && !equipoPropio)">proponer</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4 *ngIf="man.equipo?.jugadoresLesionados">OFS</h4>
  <div class="responsive-table">
    <table *ngIf="man.equipo?.jugadoresLesionados" class="table table-striped table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="fixed-column">Nombre</th>
          <th scope="col">Equipo</th>
          <th scope="col">Posición</th>
          <th scope="col">{{ listaTemporadas[0]?.nombre }}</th>
          <th scope="col">{{ listaTemporadas[1]?.nombre }}</th>
          <th scope="col">{{ listaTemporadas[2]?.nombre }}</th>
          <th scope="col">{{ listaTemporadas[3]?.nombre }}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-danger" *ngFor="let player of man.equipo?.jugadoresLesionados; let e = index">
          <td>{{e+1}}</td>

          <td class="d-none d-md-table-cell">{{ player.jugador.nombre }} {{player.jugador.apellido }}</td>
          <td class="d-md-none fixed-column-ofs">{{ player.jugador.nombreAbreviado }}</td>

          <td>{{ player.jugador.fkEquipoNba | equiponba }}</td>

          <td>{{ player.jugador.posiciones | concatPositions }}</td>

          <td>{{ player.contrato.salario }}</td>

          <td>{{ ((player.contrato.temporadaFin.pkTemporada === listaTemporadas[1].pkTemporada) || (player.contrato.temporadaFin.pkTemporada === listaTemporadas[2].pkTemporada) || (player.contrato.temporadaFin.pkTemporada === listaTemporadas[3].pkTemporada)) ? player.contrato.salario : '' }}</td>
          <td>{{ ((player.contrato.temporadaFin.pkTemporada === listaTemporadas[2].pkTemporada) || (player.contrato.temporadaFin.pkTemporada === listaTemporadas[3].pkTemporada)) ? player.contrato.salario : '' }}</td>
          <td>{{ ((player.contrato.temporadaFin.pkTemporada === listaTemporadas[3].pkTemporada)) ? player.contrato.salario : '' }}</td>

        </tr>
      </tbody>
    </table>
  </div>

  <h4 *ngIf="man.equipo?.draftpicks">Draft Picks</h4>
  <div class="responsive-table">
    <table *ngIf="man.equipo?.draftpicks" class="table table-striped table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Equipo original</th>
          <th scope="col">Temporada</th>
          <th scope="col">Ronda</th>
          <th scope="col">Pick</th>
          <th scope="col">Trading Block</th>
          <th scope="col" *ngIf="(ligaPropia && !equipoPropio)">TRADE</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-light" *ngFor="let pick of man.equipo?.draftpicks; let f = index">
          <td>{{f+1}}</td>
          <td>{{ pick.fkEquipoOri | equipoliga }}</td>
          <td>{{ pick.fkTemporada | nombretemporada }}</td>
          <td>{{ pick.numRonda }}</td>
          <td *ngIf="pick.numPick">{{ pick.numPick }}</td>
          <td *ngIf="pick.numPick == null"></td>

          <td *ngIf="pick.enTradingBlock == true">Si (quitar)</td>
          <td *ngIf="pick.enTradingBlock == false">No (añadir)</td>

          <td *ngIf="(ligaPropia && !equipoPropio)">proponer</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4 *ngIf="man.equipo?.bonus">Bonus</h4>
  <div class="responsive-table">
    <table *ngIf="man.equipo?.bonus" class="table table-striped table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Temporada</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Motivo</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-success" *ngFor="let bonus of man.equipo?.bonus; let g = index">
          <td>{{g+1}}</td>
          <td>{{ bonus.fkTemporada | nombretemporada  }}</td>
          <td>{{ bonus.cantidad }}</td>
          <td>{{ bonus.motivo }}</td>
          <td>{{ bonus.fecha }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4 *ngIf="man.equipo?.sanciones">Sanciones</h4>
  <div class="responsive-table">
    <table *ngIf="man.equipo?.sanciones" class="table table-striped table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Temporada</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Motivo</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-warning" *ngFor="let sancion of man.equipo?.sanciones; let h = index">
          <td>{{h+1}}</td>
          <td>{{ sancion.fkTemporada | nombretemporada  }}</td>
          <td>{{ sancion.cantidad }}</td>
          <td>{{ sancion.motivo }}</td>
          <td>{{ sancion.fecha }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>