<div class="container animated fadeIn">

  <form (ngSubmit)="onSubmit()">
    <h2> Cambio de fase de la liga </h2>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label>Estado posibles de la Liga</label>
          <ul class="list-group">
            <li *ngFor="let estado of estados" [ngClass]="{'btn-themecolor': estado.value === estadoActual.value}" class="list-group-item">
              {{estado.viewValue}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button *ngIf="!showConfirmation" (click)="modificar()" type="button" class="btn btn-themecolor">Modificar al siguiente estado</button>
        <button *ngIf="showConfirmation" type="submit" class="btn btn-themecolor">Confirmar</button>
      </div>
    </div>
    <div *ngIf="showConfirmation" class="row mt-3">
      <div class="col-12">
        {{confirmationMessage}}
      </div>
    </div>
  </form>
</div>
