<div *ngIf="dataLoaded" class="container animated fadeIn">
  <h2 *ngIf="ligaGuardadaEnSesion.ligaVisible === 1"> Trading Block - MNBA </h2>
  <h2 *ngIf="ligaGuardadaEnSesion.ligaVisible === 2"> Trading Block - DLEAGUE </h2>

  <ng-container *ngIf="listaJugadoresConContrato && listaJugadoresConContrato.length > 0">
    <h4>Jugadores</h4>
    <div class="responsive-table">
      <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="fixed-column">Nombre</th>
            <th scope="col">Equipo NBA</th>
            <th scope="col">Posiciones</th>
            <th scope="col">Equipo</th>
            <th scope="col">{{ listaTemporadas[0]?.nombre }}</th>
            <th scope="col">{{ listaTemporadas[1]?.nombre }}</th>
            <th scope="col">{{ listaTemporadas[2]?.nombre }}</th>
            <th scope="col">{{ listaTemporadas[3]?.nombre }}</th>
            <th scope="col" *ngIf="(ligaGuardadaEnSesion.ligaPropia)">Oferta</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-default" *ngFor="let player of listaJugadoresConContrato; let a = index">
            <td>{{a+1}}</td>

            <td class="d-none d-md-table-cell">{{ player.jugador.nombre }} {{player.jugador.apellido }}</td>
            <td class="d-md-none fixed-column">{{ player.jugador.nombreAbreviado }}</td>

            <td>{{ player.jugador.fkEquipoNba | equiponba }}</td>

            <td>{{ player.jugador.posiciones | concatPositions }}</td>

            <td>{{ player.contrato.fkEquipo | equipoliga }}</td>

            <td>{{ player.contrato.salario }}</td>

            <td>{{ ((player.contrato.temporadaFin.pkTemporada === listaTemporadas[1].pkTemporada) || (player.contrato.temporadaFin.pkTemporada === listaTemporadas[2].pkTemporada) || (player.contrato.temporadaFin.pkTemporada === listaTemporadas[3].pkTemporada)) ? player.contrato.salario : '' }}</td>
            <td>{{ ((player.contrato.temporadaFin.pkTemporada === listaTemporadas[2].pkTemporada) || (player.contrato.temporadaFin.pkTemporada === listaTemporadas[3].pkTemporada)) ? player.contrato.salario : '' }}</td>
            <td>{{ ((player.contrato.temporadaFin.pkTemporada === listaTemporadas[3].pkTemporada)) ? player.contrato.salario : '' }}</td>

            <td *ngIf="(ligaGuardadaEnSesion.ligaPropia && managerEnSesion.equipo.pkEquipo !== player.contrato.fkEquipo)" class="link-style">Hacer oferta</td>
            <td *ngIf="(managerEnSesion.equipo.pkEquipo === player.contrato.fkEquipo)"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-container *ngIf="listaJugadoresConDerecho && listaJugadoresConDerecho.length > 0">
    <h4>Derechos</h4>
    <div class="responsive-table">
      <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="fixed-column">Nombre</th>
            <th scope="col">Equipo NBA</th>
            <th scope="col">Posiciones</th>
            <th scope="col">Equipo</th>
            <th scope="col">Salario</th>
            <th scope="col">Última temp.</th>
            <th scope="col" *ngIf="(ligaGuardadaEnSesion.ligaPropia)">Oferta</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-info" *ngFor="let player of listaJugadoresConDerecho; let b = index">
            <td>{{b+1}}</td>

            <td class="d-none d-md-table-cell">{{ player.jugador.nombre }} {{player.jugador.apellido }}</td>
            <td class="d-md-none fixed-column">{{ player.jugador.nombreAbreviado }}</td>

            <td>{{ player.jugador.fkEquipoNba | equiponba }}</td>

            <td>{{ player.jugador.posiciones | concatPositions }}</td>

            <td>{{ player.derecho.fkEquipo | equipoliga }}</td>

            <td>{{ player.derecho.salario }}</td>

            <td>{{ ((player.derecho.temporadaFin.pkTemporada === listaTemporadas[1].pkTemporada)) ? listaTemporadas[1].nombre : listaTemporadas[0].nombre }}</td>

            <td *ngIf="(ligaGuardadaEnSesion.ligaPropia && managerEnSesion.equipo.pkEquipo !== player.derecho.fkEquipo)" class="link-style">Hacer oferta</td>
            <td *ngIf="(managerEnSesion.equipo.pkEquipo === player.derecho.fkEquipo)"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-container *ngIf="listaDraftpicks && listaDraftpicks.length > 0">
    <h4>Draft Picks</h4>
    <div class="responsive-table">
      <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Equipo original</th>
            <th scope="col">Equipo actual</th>
            <th scope="col">Temporada</th>
            <th scope="col">Ronda</th>
            <th scope="col">Pick</th>
            <th scope="col" *ngIf="(ligaGuardadaEnSesion.ligaPropia)">Oferta</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light" *ngFor="let pick of listaDraftpicks; let c = index">
            <!-- <td>{{c+1}}</td> -->

            <td>{{ pick.fkEquipoOri | equipoliga }}</td>

            <td>{{ pick.fkEquipoDest | equipoliga }}</td>

            <td>{{ ((pick.fkTemporada === listaTemporadas[1].pkTemporada)) ? listaTemporadas[1].nombre : listaTemporadas[0].nombre }}</td>

            <td>{{ pick.numRonda }}</td>

            <td>{{ pick.numPick }}</td>

            <td *ngIf="(ligaGuardadaEnSesion.ligaPropia && managerEnSesion.equipo.pkEquipo !== pick.fkEquipoDest)" class="link-style">Hacer oferta</td>
            <td *ngIf="(managerEnSesion.equipo.pkEquipo === pick.fkEquipoDest)"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-container *ngIf="(!listaJugadoresConContrato || listaJugadoresConContrato.length <= 0) &&
                       (!listaJugadoresConDerecho || listaJugadoresConDerecho.length <= 0) &&
                       (!listaDraftpicks || listaDraftpicks.length <= 0)">
    <p>No hay jugadores lesionados en la liga</p>
  </ng-container>

</div>