/* Estilos generales */
h2 {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0.5rem 0;
}

/* Estilos para la paginación */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.pagination button {
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 0.8rem;
  margin: 0 0.25rem;
  border: none;
}

.mobile-text {
  display: none;
}

@media (max-width: 768px) {
  .pagination .desktop-text {
    display: none;
  }

  .pagination .mobile-text {
    display: inline;
  }
}

/* Estilos para el botón "Volver arriba" */
.back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
}

