<div class="container">
  <div class="row">
    <div class="col-12">
      <div *ngIf="liga === 1" class="alert alert-primary text-center">
        <h4 class="alert-heading">Visualización de liga</h4>
        <p>Ahora estás viendo: <strong>MNBA</strong></p>
      </div>
      <div *ngIf="liga === 2" class="alert alert-success text-center">
        <h4 class="alert-heading">Visualización de liga</h4>
        <p>Ahora estás viendo: <strong>DLEAGUE</strong></p>
      </div>
    </div>
  </div>
</div>
